:root {
    --background: #b7e0ff;
    --white: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--background);
}

i {
    line-height: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;

    .color {
        list-style: none;
        margin: 1.3rem;
        padding: .7rem;
        background: var(--white);
        border-radius: .6rem;
        text-align: center;
        box-shadow: 0 1rem 2rem rgba($color: rgb(52, 87, 220), $alpha: .08);
        cursor: pointer;
        transition: .5s ease;

        &:active {
            transform: scale(.95);
        }

        .rect-box {
            width: 18.5rem;
            height: 18.5rem;
            background: #8a6cff;
            border-radius: .5rem;
            overflow: hidden;
        }

        &:hover .rect-box {
            filter: brightness(106%);
        }

        .hex-value {
            display: block;
            margin: 1.2rem 0 .8rem;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}

.refresh-btn {
    position: fixed;
    padding: 0;
    right: 2rem;
    bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: none;
    height: 5rem;
    padding: 0 2rem;
    width: fit-content;
    color: #fff;
    background: #8a6cff;
    border: none;
    border-radius: 45rem;
    box-shadow: 0 1.5rem 2rem rgba($color: rgb(52, 87, 220), $alpha: .2);
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    background-color: #398eea;

    &:active {
        filter: brightness(106%);
    }

}